//question 4

 var CapWord = function (word){
  var wordList = words.split("");
  for ( i = 0; i < wordList.length; i++){
   console.log(wordList[i].charAt(0).toUpperCase() + wordList[i].slice(1));
  };

 };
 CapWord["Alex Brian Chris Aaron Tom"];